accelerate
bitsandbytes
colorlog
dataparser
dateparser
filelock
fsspec
hf-xet
huggingface-hub
Jinja2
jsonpointer
MarkupSafe
mpmath
networkx
numpy
psutil
python-dateutil
pytz
PyYAML
regex
safetensors
setuptools
six
sympy
tokenizers
transformers
tzlocal
wheel